<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<%- include("./partials/header") %>
	
	
	<!-- Banner -->
	<div class="banner">
		<!--<img src="images/fondo.png" alt="Banner de ofertas"> -->
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Populares</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<% for(let i=0; i<productos.length; i++) {%>
							<img src=<%=productos[i].imagen %> >
						</figure>
						<article class="product-box_data">
							<h2><%= productos[i].nombre %></h2>
							<p><%= productos[i].descripcion %></p>
							<p>Comentarios: 3</p>
						</article>
					</a>
					<%}%>
				</section>
			</div>
			
			
	<!-- /Novedades -->
	<!-- M치s comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mas vendidos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					
					<a href="product.html">
						<figure class="product-box_image">
							<img src="/images/productos/Audi_A4.jpeg" alt="Audi A4">
						</figure>
						<article class="product-box_data">
							<h2>Audi A4</h2>
							<p>Una berlina premium, del segmento D.</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="/images/productos/Audi_Q2.jpeg" alt="Audi Q2">
						</figure>
						<article class="product-box_data">
							<h2>Audi Q2</h2>
							<p>Un SUV de tama침o peque침o, del segmento B</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="/images/productos/Audi_A5_Coupe.jpeg" alt="Audi A5 Coupe">
						</figure>
						<article class="product-box_data">
							<h2>Audi A5 Coupe</h2>
							<p>Una berlina compacta, del segmento D</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="/images/productos/Audi_Q3.jpeg" alt="Audi Q3">
						</figure>
						<article class="product-box_data">
							<h2>Audi Q3</h2>
							<p>Un SUV del segmento C</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /M치s comentados -->


	<!-- footer -->
	<%- include("./partials/footer") %>
	
</body>	
</html>