<%- include("./partials/head") %>

<!-- Header -->
<% if (locals.user != undefined) {%>
    <%- include("./partials/headerLogueado") %> 
<% } else {%>
    <%- include("./partials/headerNoLogueado") %>
<% } %>

<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Ingresar <% if (locals.error) {%>
                <p style="color: red"> <%= error.message%>  </p> 
            <% } %></h2>
        </div>
<section class = "formularios">
<form action="/users/loginUsuario" method="POST">
<div>
    <label>Usuario:</label>
    <input type="text" name="usuario" value="">
</div>

<div>
    <label>Ingresa la contraseña:</label>
    <input type="password" name="contra" value="">
</div>

<div>
    <label>Recordame</label>
    <input type="checkbox">
</div>

<div>
   <input type="submit" value="Ingresar"> 
</div>


</form>
</section>

<%- include("./partials/footer") %>