<%- include("./partials/head") %>


<% if (locals.user != undefined) {%>
	<%- include("./partials/headerLogueado") %> 
<% } else {%>
	<%- include("./partials/headerNoLogueado") %>
<% } %>
<!-- product detail -->
<div class="container products-wrapper">
	<div class="d-flex align-items-center">
		<h2 class="products-title">Audi A4</h2> 
		<p class="product-detail-editar">
			<a href="/products/product-add">Editar</a>
		</p>
	</div>
	<div class="product-detail">
		<div class="row">
			<article class="col-12 col-lg-8 product-detail-info">
				<img src="/images/productos/Audi_A4.jpeg" alt="" class="product-detail-img">
				<p class="product-detail-description">
					Gracias al diseño progresivo con un aspecto frontal definido con precisión y una trasera característica, el carácter deportivo del Audi A4 Sedan se manifiesta más que nunca: un interior premium y funcional, tecnologías innovadoras en los ámbitos de la digitalización, el infoentretenimiento y los sistemas de asistencia al conductor, y una gama de potentes motores completan el paquete.</p>
			</article>
			<div class="col-12 col-lg-4">
				<section class="comments">
					<% for(let i=0;i<comentarios.length;i++) {%>
					<article>
						<img src=<%= comentarios[i].foto_perfil_usuario %> alt="">
						<div class="data">
							<p class="user">
							<strong> <a href="/users/profile"> <%= comentarios[i].nombre_usuario %>: </a> </strong>
							  <%= comentarios[i].comentario %></p>
						</div>
					</article>
					<% } %>

				</section>
				<form class="form" action="" method="POST">
					<input class="form-input" type="text" value="" placeholder="Agregar comentario">
					<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
				</form>
				<hr>
			</div>
		</div>
	</div>
</div>
<!-- /product detail -->

<%- include("./partials/footer") %>