<%- include("./partials/head") %>

<% if (locals.user != undefined) {%>
	<%- include("./partials/headerLogueado") %> 
<% } else {%>
	<%- include("./partials/headerNoLogueado") %>
<% } %>

<!-- product detail -->
<div class="container products-wrapper">
	<div class="d-flex align-items-center">
		<h2 class="products-title"> <%= producto.producto %></h2> 
		
		<p class="product-detail-editar">
			<% if (locals.user && locals.user.id == producto.idUsuario) { %>
			<a href="/products/editar/<%=producto.id %>">Editar</a>
			<% } %>
		</p>
	</div>
	<div class="product-detail">
		<div class="row">
			<article class="col-12 col-lg-8 product-detail-info">
				<img src= "<%=producto.imagen%>" alt="" class="product-detail-img">
				<p class="product-detail-description">
					Descripcion: <%= producto.descripcion %></p>
					<p class="product-detail-description">Publicado por: <a href="/users/profile/<%= producto.idUsuario%>"> <%= producto.usuarios.nombre %> </a></p>
			</article>
			<div class="col-12 col-lg-4">

				<section class="comments">
					<% for(let i=0;i<producto.comentarios.length;i++) {%>
					<article>
						<a href="/users/profile/<%= producto.comentarios[i].usuarios.id%>">
						   <img src= "<%= producto.comentarios[i].usuarios.fotoPerfil %>" alt="">
						     <div class="data">
							   <p class="user">
								<strong>
										<%=producto.comentarios[i].usuarios.nombre%>: 
									</a>
								</strong>
								<%=producto.comentarios[i].comentario %>
							 </p>
							 <p><%=producto.comentarios[i].createdAt.toLocaleString(undefined, { dateStyle: 'short', timeStyle: 'short' }) %> %></p>
						</div>
					</article>
					<% } %>
				</section>	

				<% if (locals.user != undefined) {%>
					<form method="POST" action="/products/agregarComentario/<%= producto.id%>" class="form">
						<% if (locals.errors && locals.errors.message) {%>
							<p style="color: red; font-size: 16px"><%=locals.errors.message%></p> 
						 <% } %>
					<input class="form-input" type="text" value="" placeholder="Agregar comentario" name="comentario">
					<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
				<% } else {%>
					<form method="GET" action="/users/login" class="form">
					<button type="submit" class="buy-now-button">LOGUEATE ANTES DE AGREGAR COMENTARIO</button>
				    </form>
				<% } %>

				<hr>
			</div>
		</div>
	</div>
</div>
<!-- /product detail -->

<%- include("./partials/footer") %>