<%- include("./partials/head") %>

<!-- Header -->
<% if (locals.user != undefined) {%>
	<%- include("./partials/headerLogueado") %> 
<% } else {%>
	<%- include("./partials/headerNoLogueado") %>
<% } %>

<section class="info-usuario container products-wrapper">
	<div class="row">
		<div class="img-container offset-3 col-2">
			<img src= "<%=usuario.fotoPerfil%>" alt="foto de perfil" class="foto-perfil">
		</div>
		<div class= "formularios"class="data-container col-6">
			<div class="d-flex align-items-center ">
				<h1 class="main-title" style="font-size: 45px;"> <%= usuario.nombre %></h1>
			</div>
			<div>
				<ul>
					<li>Activo desde: <%=usuario.createdAt.toLocaleString(undefined, { dateStyle: 'short', timeStyle: 'short' })%></li>
					<li>Productos publicados: <%=usuario.productos.length%></li>
					<li>Comentarios realizados: <%=usuario.comentarios.length%></li>
				</ul>
			</div>
		</div>
	</div>
</section>


<div class="container products-wrapper">
	<div class="row">
		<div class="col-12">
			<h2 class="products-title">Productos publicados:</h2>
		</div>
		<!-- Show the "ultimos" products -->
		<% for(let i=0; i<usuario.productos.length; i++) {%>
		<div class="col-12 col-sm-6 col-lg-3">
			<section class="product-box">
				<a href="/products/detalle/<%= usuario.productos[i].id%>">
					<figure class="product-box_image">
						<img src = "<%=usuario.productos[i].imagen%>" >
					</figure>
					<article class="product-box_data">
						<h2><%= usuario.productos[i].producto%></h2>
						<p><%= usuario.productos[i].descripcion%></p>
						<p>Comentarios: <%=usuario.productos[i].comentarios.length%></p>
					</article>
				</a>
			</section>
		</div>
		<%}%>
	</div>
</div>		

<%- include("./partials/footer") %>
