<%- include("./partials/head") %>

<!-- Header -->
<% if (locals.user != undefined) {%>
    <%- include("./partials/headerLogueado") %> 
<% } else {%>
    <%- include("./partials/headerNoLogueado") %>
<% } %>
<!-- Novedades -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Registrate</h2>
        </div>
<section class = "formularios">

    <form action="/users/registrate/guardar" method="POST">
        <% if (locals.error) {%>
            <p style="color: red"><%= error.message%></p> 
        <% } %>
        <div>
            <label>Foto de perfil</label>
            <input type="file" id="imagen" name="foto">
            <input type="submit" value="OK">
        </div>

        <div>
            <label>Mail:</label>
            <input type="email" name="mail" value="">
        </div>

        <div>
            <label>Usuario:</label>
            <input type="text" name="usuario" value="">
        </div>

        <div>
            <label>Ingresa la contraseña:</label>
            <input type="password" name="contra" value="">
        </div>

        <div>
            <label>DNI</label>
            <input type="text" name="dni" value="">
        </div>

        <div>
        <label>¿Cuando naciste?</label>
        <input type="date" name="edad" value="">
        </div>

        <div>
            <input type="submit" value="Registrate">
        </div>
    </form>
</section>
<%- include("./partials/footer") %>